
<h2 class="page-title">Library Mangement</h2>

<mat-form-field appearance="outline" class="search-field">
  <mat-label>Search Books</mat-label>
  <input
    matInput
    [(ngModel)]="searchText"
    (input)="search()"
    placeholder="Search by title"
    aria-label="Search books"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<hr>


<div *ngIf="auth.isAdmin()">
<div class="add-edit-container">
<form #bookForm="ngForm">
<div class="add-edit-container">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Book Title</mat-label>
    <input
      matInput
      name="title"
      [(ngModel)]="newTitle"
      placeholder="Enter book title"
      required/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Image URL</mat-label>
    <input
      matInput
      name="image"
      [(ngModel)]="newImage"
      placeholder="Example: no-book.png"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="add-btn"
    (click)="add()"
    *ngIf="editId === null">
    Add
  </button>
</div>
</form>
  <button
    mat-raised-button
    color="accent"
    *ngIf="editId !== null"
    (click)="update()" >
    Update </button>
</div>
</div>
<hr>


<div class="books-grid">

  <mat-card
    class="book-card"
    *ngFor="let book of filteredBooks;">

 
<img mat-card-image [src]="book.image || 'no-book.png'"
  alt="Cover image of {{ book.title }}"/>

  


    <mat-card-title class="book-title">
      {{ book.title }}
    </mat-card-title>

  
    <mat-card-content>
      <p>
        Status:
        <b
          [ngClass]="book.available ? 'status-available' : 'status-taken'"
        >
          {{ book.available ? 'Available' : 'Taken' }}
        </b>
      </p>

      <p *ngIf="!book.available" class="taken-by">
        Taken By: {{ book.takenByName || book.takenBy }}
      </p>
    </mat-card-content>


    <mat-card-actions class="book-actions">

      <button
        mat-icon-button
        color="primary"
        *ngIf="book.available"
        (click)="take(book.id)"
        aria-label="Take book"
      >
        <mat-icon>library_add</mat-icon>
      </button>

      
<button
  mat-icon-button
  color="warn"
  *ngIf="!book.available && book.takenBy === currentUserEmail"
  (click)="returnBook(book.id)"
  aria-label="Return book"
>
  <mat-icon>assignment_return</mat-icon>
</button>



      <button
        mat-icon-button
        color="warn"
        *ngIf="auth.isAdmin()"
        (click)="delete(book.id)"
        aria-label="Delete book"
      >
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-actions>

  </mat-card>

</div>

